# Import Required Libraries

In [30]:
# Import Required Libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
import shiny
import dash
import sklearn
import sqlalchemy
from flask import Flask
from fastapi import FastAPI
import plotly.express as px

### Read Employee Attrition Data

In [31]:
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# Exploratory Data Analysis

In [32]:
df.shape

(1470, 35)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [34]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [35]:
print("Number of unique values in each numerical column:")
for column in df.select_dtypes(include='int64').columns:
    print(f"{column}: {df[column].nunique()}")

Number of unique values in each numerical column:
Age: 43
DailyRate: 886
DistanceFromHome: 29
Education: 5
EmployeeCount: 1
EmployeeNumber: 1470
EnvironmentSatisfaction: 4
HourlyRate: 71
JobInvolvement: 4
JobLevel: 5
JobSatisfaction: 4
MonthlyIncome: 1349
MonthlyRate: 1427
NumCompaniesWorked: 10
PercentSalaryHike: 15
PerformanceRating: 2
RelationshipSatisfaction: 4
StandardHours: 1
StockOptionLevel: 4
TotalWorkingYears: 40
TrainingTimesLastYear: 7
WorkLifeBalance: 4
YearsAtCompany: 37
YearsInCurrentRole: 19
YearsSinceLastPromotion: 16
YearsWithCurrManager: 18

In [36]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,1470.0,NaN,NaN,NaN,36.92381,9.135373,18.0,30.0,36.0,43.0,60.0
Attrition,1470,2,No,1233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel,1470,3,Travel_Rarely,1043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DailyRate,1470.0,NaN,NaN,NaN,802.485714,403.5091,102.0,465.0,802.0,1157.0,1499.0
Department,1470,3,Research & Development,961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1470.0,NaN,NaN,NaN,9.192517,8.106864,1.0,2.0,7.0,14.0,29.0
Education,1470.0,NaN,NaN,NaN,2.912925,1.024165,1.0,2.0,3.0,4.0,5.0
EducationField,1470,6,Life Sciences,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeCount,1470.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
EmployeeNumber,1470.0,NaN,NaN,NaN,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,NaN,NaN,NaN,2.721769,1.093082,1.0,2.0,3.0,4.0,4.0
Gender,1470,2,Male,882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HourlyRate,1470.0,NaN,NaN,NaN,65.891156,20.329428,30.0,48.0,66.0,83.75,100.0
JobInvolvement,1470.0,NaN,NaN,NaN,2.729932,0.711561,1.0,2.0,3.0,3.0,4.0
JobLevel,1470.0,NaN,NaN,NaN,2.063946,1.10694,1.0,1.0,2.0,3.0,5.0
JobRole,1470,9,Sales Executive,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1470.0,NaN,NaN,NaN,2.728571,1.102846,1.0,2.0,3.0,4.0,4.0
MaritalStatus,1470,3,Married,673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,1470.0,NaN,NaN,NaN,6502.931293,4707.956783,1009.0,2911.0,4919.0,8379.0,19999.0
MonthlyRate,1470.0,NaN,NaN,NaN,14313.103401,7117.786044,2094.0,8047.0,14235.5,20461.5,26999.0
NumCompaniesWorked,1470.0,NaN,NaN,NaN,2.693197,2.498009,0.0,1.0,2.0,4.0,9.0
Over18,1470,1,Y,1470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime,1470,2,No,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1470.0,NaN,NaN,NaN,15.209524,3.659938,11.0,12.0,14.0,18.0,25.0
PerformanceRating,1470.0,NaN,NaN,NaN,3.153741,0.360824,3.0,3.0,3.0,3.0,4.0
RelationshipSatisfaction,1470.0,NaN,NaN,NaN,2.712245,1.081209,1.0,2.0,3.0,4.0,4.0
StandardHours,1470.0,NaN,NaN,NaN,80.0,0.0,80.0,80.0,80.0,80.0,80.0
StockOptionLevel,1470.0,NaN,NaN,NaN,0.793878,0.852077,0.0,0.0,1.0,1.0,3.0
TotalWorkingYears,1470.0,NaN,NaN,NaN,11.279592,7.780782,0.0,6.0,10.0,15.0,40.0
TrainingTimesLastYear,1470.0,NaN,NaN,NaN,2.79932,1.289271,0.0,2.0,3.0,3.0,6.0
WorkLifeBalance,1470.0,NaN,NaN,NaN,2.761224,0.706476,1.0,2.0,3.0,3.0,4.0
YearsAtCompany,1470.0,NaN,NaN,NaN,7.008163,6.126525,0.0,3.0,5.0,9.0,40.0
YearsInCurrentRole,1470.0,NaN,NaN,NaN,4.229252,3.623137,0.0,2.0,3.0,7.0,18.0
YearsSinceLastPromotion,1470.0,NaN,NaN,NaN,2.187755,3.22243,0.0,0.0,1.0,3.0,15.0
YearsWithCurrManager,1470.0,NaN,NaN,NaN,4.123129,3.568136,0.0,2.0,3.0,7.0,17.0

In [37]:
for column in df.select_dtypes(include='object').columns:
    print(f"{column}: {df[column].unique()}")

Attrition: ['Yes' 'No']
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department: ['Sales' 'Research & Development' 'Human Resources']
EducationField: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Gender: ['Female' 'Male']
JobRole: ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
MaritalStatus: ['Single' 'Married' 'Divorced']
Over18: ['Y']
OverTime: ['Yes' 'No']

## Attributes Description

### Demographic / Personal

<span style="color:green;">Age</span>: Age of the employee.

<span style="color:green;">Gender</span>: Male or Female.

<span style="color:green;">MaritalStatus</span>: Single, Married, Divorced.

<span style="color:green;">Over18</span>: Always "Y" in this dataset <span style="color:crimson; font-weight:bold;">(not useful).</span>

### Job / Work-related

<span style="color:green;">Attrition</span>: Whether the employee left the company (Yes/No).

<span style="color:green;">BusinessTravel</span>: Frequency of travel for work (Non-Travel, Travel_Rarely, Travel_Frequently).

<span style="color:green;">Department</span>: Which department the employee works in (HR, R&D, Sales).

<span style="color:green;">DistanceFromHome</span>: Distance from home to office (in miles).

<span style="color:green;">EmployeeCount</span>: Always 1 <span style="color:crimson; font-weight:bold;">(not useful).</span>

<span style="color:green;">EmployeeNumber</span>: Unique ID for each employee <span style="color:crimson; font-weight:bold;">(not useful).</span>

<span style="color:green;">JobLevel</span>: Level in the company hierarchy (1 = entry-level, 5 = senior executive).

<span style="color:green;">JobRole</span>: Job title (e.g., Sales Executive, Research Scientist).

<span style="color:green;">OverTime</span>: Does the employee work overtime? (Yes/No).

<span style="color:green;">StandardHours</span>: Always 80 <span style="color:crimson; font-weight:bold;">(not useful).</span>

### Compensation

<span style="color:green;">DailyRate</span>: Daily salary rate (arbitrary unit, not directly meaningful).

<span style="color:green;">HourlyRate</span>: Hourly wage rate (arbitrary, like DailyRate).

<span style="color:green;">MonthlyIncome</span>: The actual monthly salary.

<span style="color:green;">MonthlyRate</span>: An HR system field that comes from IBMâ€™s payroll/HR database. It represents an internal payroll rate code <span style="color:crimson; font-weight:bold;">(not rleated).</span>

<span style="color:green;">PercentSalaryHike</span>: % increase in salary last year.

<span style="color:green;">StockOptionLevel</span>:  Employee stock option level (0â€“3). Higher = more stock options granted as part of compensation.

### Experience / Career
<span style="color:green;">Education</span>: Education level (1 = Below College, â€¦, 5 = Doctorate).

<span style="color:green;">EducationField</span>: Field of study (Life Sciences, Medical, Marketing, etc.).

<span style="color:green;">JobInvolvement</span>: How engaged and dedicated the employee is to their job (1 = Low, â€¦, 4 = Very High).

<span style="color:green;">NumCompaniesWorked</span>: Total number of companies the employee has worked for before joining this one.

<span style="color:green;">TotalWorkingYears</span>: Total years of professional experience.

<span style="color:green;">TrainingTimesLastYear</span>: Number of training programs attended last year.

<span style="color:green;">YearsAtCompany</span>: Years spent at the current company.

<span style="color:green;">YearsInCurrentRole</span>: Years in the current job role.

<span style="color:green;">YearsSinceLastPromotion</span>: Years since the employee was last promoted.

<span style="color:green;">YearsWithCurrManager</span>: Years working with the current manager.

### Satisfaction & Ratings

<span style="color:green;">EnvironmentSatisfaction</span>: How satisfied the employee is with their work environment (1 = Low â€¦ 4 = Very High).

<span style="color:green;">JobSatisfaction</span>: How satisfied the employee is with their job overall.

<span style="color:green;">PerformanceRating</span>: Performance appraisal rating (usually most are 3 = Excellent, 4 = Outstanding).

<span style="color:green;">RelationshipSatisfaction</span>: How satisfied an employee is with their interpersonal relationships at work (colleagues, supervisors, etc.).

<span style="color:green;">WorkLifeBalance</span>: Perception of balance between work and personal life (1 = Bad â€¦ 4 = Best).

In [38]:
# Check for duplicate rows
duplicate_rows = df.duplicated()
print(f"Number of duplicate rows: {duplicate_rows.sum()}")

Number of duplicate rows: 0

In [39]:
# Check for outliers in numerical columns using the IQR method
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
outlier_summary = {}
cols_with_outliers = []
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_summary[col] = outliers.shape[0]
    if outliers.shape[0] > 0:
        cols_with_outliers.append(col)

print("Number of outliers in each numerical column:")
for col, count in outlier_summary.items():
    print(f"{col}: {count}")

Number of outliers in each numerical column:
Age: 0
DailyRate: 0
DistanceFromHome: 0
Education: 0
EmployeeCount: 0
EmployeeNumber: 0
EnvironmentSatisfaction: 0
HourlyRate: 0
JobInvolvement: 0
JobLevel: 0
JobSatisfaction: 0
MonthlyIncome: 114
MonthlyRate: 0
NumCompaniesWorked: 52
PercentSalaryHike: 0
PerformanceRating: 226
RelationshipSatisfaction: 0
StandardHours: 0
StockOptionLevel: 85
TotalWorkingYears: 63
TrainingTimesLastYear: 238
WorkLifeBalance: 0
YearsAtCompany: 104
YearsInCurrentRole: 21
YearsSinceLastPromotion: 107
YearsWithCurrManager: 14

In [40]:
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

n_cols = 4
n_rows = 3
fig = make_subplots(
    rows=n_rows, 
    cols=n_cols, 
    subplot_titles=cols_with_outliers,
    vertical_spacing=0.05 
)

for idx, col in enumerate(cols_with_outliers):
    row = idx // n_cols + 1
    col_pos = idx % n_cols + 1
    fig.add_trace(
        px.box(df, y=col, points='outliers').data[0],
        row=row, col=col_pos
    )

fig.update_layout(
    height=400 * n_rows,
    width=320 * n_cols,
    title_text="Box Plots of Columns with Outliers"
)
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

## Data Cleaning

### Drop Unnecessary Columns

The following columns are dropped as they do not provide useful information for analysis:

- **EmployeeCount**: Constant value for all rows.
- **Over18**: Constant value for all rows.
- **MonthlyRate**: Not directly meaningful for analysis.
- **StandardHours**: Constant value for all rows.
- **EmployeeNumber**: Serves only as a unique identifier.

In [ ]:
df = df.drop(['EmployeeCount', 'Over18', 'MonthlyRate', 'StandardHours', 'EmployeeNumber'], axis=1)
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
999,42,No,Travel_Rarely,1147,Human Resources,10,3,Human Resources,3,Female,...,3,3,1,21,5,3,20,7,0,9
1111,53,Yes,Travel_Rarely,607,Research & Development,2,5,Technical Degree,3,Female,...,3,2,1,34,4,3,33,7,1,9
565,23,No,Travel_Rarely,310,Research & Development,10,1,Medical,1,Male,...,3,4,0,2,3,3,2,2,0,2
1289,38,No,Non-Travel,1336,Human Resources,2,3,Human Resources,1,Male,...,3,4,3,13,3,3,11,10,3,8
1277,46,No,Travel_Rarely,734,Research & Development,2,4,Medical,3,Male,...,3,3,1,24,3,3,2,1,2,2

### There are no duplicated rows  
### There are no null values  
### All outliers appear reasonable and will not be removed, especially since no predictive models will be developed

## Save Cleaned Data

In [ ]:
#df.to_csv('cleanData.csv', index=False)

How many total employees are there?

What is the employee count for each department?

What is the average monthly income by job role?

Who are the top 5 employees by performance rating?

Which department has the highest average performance rating?