# Import Required Libraries

In [19]:
# Import Required Libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
import shiny
import dash
import sklearn
import sqlalchemy
from flask import Flask
from fastapi import FastAPI
import plotly.express as px
import sqlite3

### Read Employee Attrition Data

In [ ]:
df = pd.read_csv('data/WA_Fn-UseC_-HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# Exploratory Data Analysis

In [47]:
df.shape

(1470, 35)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [49]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [50]:
print("Number of unique values in each numerical column:")
for column in df.select_dtypes(include='int64').columns:
    print(f"{column}: {df[column].nunique()}")

Number of unique values in each numerical column:
Age: 43
DailyRate: 886
DistanceFromHome: 29
Education: 5
EmployeeCount: 1
EmployeeNumber: 1470
EnvironmentSatisfaction: 4
HourlyRate: 71
JobInvolvement: 4
JobLevel: 5
JobSatisfaction: 4
MonthlyIncome: 1349
MonthlyRate: 1427
NumCompaniesWorked: 10
PercentSalaryHike: 15
PerformanceRating: 2
RelationshipSatisfaction: 4
StandardHours: 1
StockOptionLevel: 4
TotalWorkingYears: 40
TrainingTimesLastYear: 7
WorkLifeBalance: 4
YearsAtCompany: 37
YearsInCurrentRole: 19
YearsSinceLastPromotion: 16
YearsWithCurrManager: 18

In [51]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,1470.0,NaN,NaN,NaN,36.92381,9.135373,18.0,30.0,36.0,43.0,60.0
Attrition,1470,2,No,1233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BusinessTravel,1470,3,Travel_Rarely,1043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DailyRate,1470.0,NaN,NaN,NaN,802.485714,403.5091,102.0,465.0,802.0,1157.0,1499.0
Department,1470,3,Research & Development,961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1470.0,NaN,NaN,NaN,9.192517,8.106864,1.0,2.0,7.0,14.0,29.0
Education,1470.0,NaN,NaN,NaN,2.912925,1.024165,1.0,2.0,3.0,4.0,5.0
EducationField,1470,6,Life Sciences,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeCount,1470.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
EmployeeNumber,1470.0,NaN,NaN,NaN,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,NaN,NaN,NaN,2.721769,1.093082,1.0,2.0,3.0,4.0,4.0
Gender,1470,2,Male,882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HourlyRate,1470.0,NaN,NaN,NaN,65.891156,20.329428,30.0,48.0,66.0,83.75,100.0
JobInvolvement,1470.0,NaN,NaN,NaN,2.729932,0.711561,1.0,2.0,3.0,3.0,4.0
JobLevel,1470.0,NaN,NaN,NaN,2.063946,1.10694,1.0,1.0,2.0,3.0,5.0
JobRole,1470,9,Sales Executive,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1470.0,NaN,NaN,NaN,2.728571,1.102846,1.0,2.0,3.0,4.0,4.0
MaritalStatus,1470,3,Married,673,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyIncome,1470.0,NaN,NaN,NaN,6502.931293,4707.956783,1009.0,2911.0,4919.0,8379.0,19999.0
MonthlyRate,1470.0,NaN,NaN,NaN,14313.103401,7117.786044,2094.0,8047.0,14235.5,20461.5,26999.0
NumCompaniesWorked,1470.0,NaN,NaN,NaN,2.693197,2.498009,0.0,1.0,2.0,4.0,9.0
Over18,1470,1,Y,1470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime,1470,2,No,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1470.0,NaN,NaN,NaN,15.209524,3.659938,11.0,12.0,14.0,18.0,25.0
PerformanceRating,1470.0,NaN,NaN,NaN,3.153741,0.360824,3.0,3.0,3.0,3.0,4.0
RelationshipSatisfaction,1470.0,NaN,NaN,NaN,2.712245,1.081209,1.0,2.0,3.0,4.0,4.0
StandardHours,1470.0,NaN,NaN,NaN,80.0,0.0,80.0,80.0,80.0,80.0,80.0
StockOptionLevel,1470.0,NaN,NaN,NaN,0.793878,0.852077,0.0,0.0,1.0,1.0,3.0
TotalWorkingYears,1470.0,NaN,NaN,NaN,11.279592,7.780782,0.0,6.0,10.0,15.0,40.0
TrainingTimesLastYear,1470.0,NaN,NaN,NaN,2.79932,1.289271,0.0,2.0,3.0,3.0,6.0
WorkLifeBalance,1470.0,NaN,NaN,NaN,2.761224,0.706476,1.0,2.0,3.0,3.0,4.0
YearsAtCompany,1470.0,NaN,NaN,NaN,7.008163,6.126525,0.0,3.0,5.0,9.0,40.0
YearsInCurrentRole,1470.0,NaN,NaN,NaN,4.229252,3.623137,0.0,2.0,3.0,7.0,18.0
YearsSinceLastPromotion,1470.0,NaN,NaN,NaN,2.187755,3.22243,0.0,0.0,1.0,3.0,15.0
YearsWithCurrManager,1470.0,NaN,NaN,NaN,4.123129,3.568136,0.0,2.0,3.0,7.0,17.0

In [52]:
for column in df.select_dtypes(include='object').columns:
    print(f"{column}: {df[column].unique()}")

Attrition: ['Yes' 'No']
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department: ['Sales' 'Research & Development' 'Human Resources']
EducationField: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Gender: ['Female' 'Male']
JobRole: ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
MaritalStatus: ['Single' 'Married' 'Divorced']
Over18: ['Y']
OverTime: ['Yes' 'No']

## Attributes Description

### Demographic / Personal

<span style="color:green;">Age</span>: Age of the employee.

<span style="color:green;">Gender</span>: Male or Female.

<span style="color:green;">MaritalStatus</span>: Single, Married, Divorced.

<span style="color:green;">Over18</span>: Always "Y" in this dataset <span style="color:crimson; font-weight:bold;">(not useful).</span>

### Job / Work-related

<span style="color:green;">Attrition</span>: Whether the employee left the company (Yes/No).

<span style="color:green;">BusinessTravel</span>: Frequency of travel for work (Non-Travel, Travel_Rarely, Travel_Frequently).

<span style="color:green;">Department</span>: Which department the employee works in (HR, R&D, Sales).

<span style="color:green;">DistanceFromHome</span>: Distance from home to office (in miles).

<span style="color:green;">EmployeeCount</span>: Always 1 <span style="color:crimson; font-weight:bold;">(not useful).</span>

<span style="color:green;">EmployeeNumber</span>: Unique ID for each employee <span style="color:crimson; font-weight:bold;">(not useful).</span>

<span style="color:green;">JobLevel</span>: Level in the company hierarchy (1 = entry-level, 5 = senior executive).

<span style="color:green;">JobRole</span>: Job title (e.g., Sales Executive, Research Scientist).

<span style="color:green;">OverTime</span>: Does the employee work overtime? (Yes/No).

<span style="color:green;">StandardHours</span>: Always 80 <span style="color:crimson; font-weight:bold;">(not useful).</span>

### Compensation

<span style="color:green;">DailyRate</span>: Daily salary rate (arbitrary unit, not directly meaningful).

<span style="color:green;">HourlyRate</span>: Hourly wage rate (arbitrary, like DailyRate).

<span style="color:green;">MonthlyIncome</span>: The actual monthly salary.

<span style="color:green;">MonthlyRate</span>: An HR system field that comes from IBMâ€™s payroll/HR database. It represents an internal payroll rate code <span style="color:crimson; font-weight:bold;">(not rleated).</span>

<span style="color:green;">PercentSalaryHike</span>: % increase in salary last year.

<span style="color:green;">StockOptionLevel</span>:  Employee stock option level (0â€“3). Higher = more stock options granted as part of compensation.

### Experience / Career
<span style="color:green;">Education</span>: Education level (1 = Below College, â€¦, 5 = Doctorate).

<span style="color:green;">EducationField</span>: Field of study (Life Sciences, Medical, Marketing, etc.).

<span style="color:green;">JobInvolvement</span>: How engaged and dedicated the employee is to their job (1 = Low, â€¦, 4 = Very High).

<span style="color:green;">NumCompaniesWorked</span>: Total number of companies the employee has worked for before joining this one.

<span style="color:green;">TotalWorkingYears</span>: Total years of professional experience.

<span style="color:green;">TrainingTimesLastYear</span>: Number of training programs attended last year.

<span style="color:green;">YearsAtCompany</span>: Years spent at the current company.

<span style="color:green;">YearsInCurrentRole</span>: Years in the current job role.

<span style="color:green;">YearsSinceLastPromotion</span>: Years since the employee was last promoted.

<span style="color:green;">YearsWithCurrManager</span>: Years working with the current manager.

### Satisfaction & Ratings

<span style="color:green;">EnvironmentSatisfaction</span>: How satisfied the employee is with their work environment (1 = Low â€¦ 4 = Very High).

<span style="color:green;">JobSatisfaction</span>: How satisfied the employee is with their job overall.

<span style="color:green;">PerformanceRating</span>: Performance appraisal rating (usually most are 3 = Excellent, 4 = Outstanding).

<span style="color:green;">RelationshipSatisfaction</span>: How satisfied an employee is with their interpersonal relationships at work (colleagues, supervisors, etc.).

<span style="color:green;">WorkLifeBalance</span>: Perception of balance between work and personal life (1 = Bad â€¦ 4 = Best).

In [53]:
# Check for duplicate rows
duplicate_rows = df.duplicated()
print(f"Number of duplicate rows: {duplicate_rows.sum()}")

Number of duplicate rows: 0

In [54]:
# Check for outliers in numerical columns using the IQR method
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
outlier_summary = {}
cols_with_outliers = []
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_summary[col] = outliers.shape[0]
    if outliers.shape[0] > 0:
        cols_with_outliers.append(col)

print("Number of outliers in each numerical column:")
for col, count in outlier_summary.items():
    print(f"{col}: {count}")

Number of outliers in each numerical column:
Age: 0
DailyRate: 0
DistanceFromHome: 0
Education: 0
EmployeeCount: 0
EmployeeNumber: 0
EnvironmentSatisfaction: 0
HourlyRate: 0
JobInvolvement: 0
JobLevel: 0
JobSatisfaction: 0
MonthlyIncome: 114
MonthlyRate: 0
NumCompaniesWorked: 52
PercentSalaryHike: 0
PerformanceRating: 226
RelationshipSatisfaction: 0
StandardHours: 0
StockOptionLevel: 85
TotalWorkingYears: 63
TrainingTimesLastYear: 238
WorkLifeBalance: 0
YearsAtCompany: 104
YearsInCurrentRole: 21
YearsSinceLastPromotion: 107
YearsWithCurrManager: 14

In [68]:
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

import plotly.io as pio
pio.renderers.default = "notebook_connected"

n_cols = 4
n_rows = 3
fig = make_subplots(
    rows=n_rows, 
    cols=n_cols, 
    subplot_titles=cols_with_outliers,
    vertical_spacing=0.05 
)

for idx, col in enumerate(cols_with_outliers):
    row = idx // n_cols + 1
    col_pos = idx % n_cols + 1
    fig.add_trace(
        px.box(df, y=col, points='outliers').data[0],
        row=row, col=col_pos
    )

fig.update_layout(
    height=400 * n_rows,
    width=320 * n_cols,
    title_text="Box Plots of Columns with Outliers"
)
fig.show()

## Data Cleaning

### Drop Unnecessary Columns

The following columns are dropped as they do not provide useful information for analysis:

- **EmployeeCount**: Constant value for all rows.
- **Over18**: Constant value for all rows.
- **MonthlyRate**: Not directly meaningful for analysis.
- **StandardHours**: Constant value for all rows.
- **EmployeeNumber**: Serves only as a unique identifier.

In [ ]:
df = df.drop(['EmployeeCount', 'Over18', 'MonthlyRate', 'StandardHours', 'EmployeeNumber'], axis=1)
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
999,42,No,Travel_Rarely,1147,Human Resources,10,3,Human Resources,3,Female,...,3,3,1,21,5,3,20,7,0,9
1111,53,Yes,Travel_Rarely,607,Research & Development,2,5,Technical Degree,3,Female,...,3,2,1,34,4,3,33,7,1,9
565,23,No,Travel_Rarely,310,Research & Development,10,1,Medical,1,Male,...,3,4,0,2,3,3,2,2,0,2
1289,38,No,Non-Travel,1336,Human Resources,2,3,Human Resources,1,Male,...,3,4,3,13,3,3,11,10,3,8
1277,46,No,Travel_Rarely,734,Research & Development,2,4,Medical,3,Male,...,3,3,1,24,3,3,2,1,2,2

### There are no duplicated rows  
### There are no null values  
### All outliers appear reasonable and will not be removed, especially since no predictive models will be developed

## Save Cleaned Data

In [ ]:
#df.to_csv('cleanData.csv', index=False)

In [16]:
cleanDf = pd.read_csv('data/cleanData.csv')
cleanDf.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

### Create an SQLite Database

#### ER diagram

In [ ]:
# Create or connect to the database
conn = sqlite3.connect("employee_database.db")
cur = conn.cursor()

# Drop tables if they already exist (for re-run safety)
tables = ["Employees", "Departments", "Jobs", "EducationFields"]
for t in tables:
    cur.execute(f"DROP TABLE IF EXISTS {t}")

# 1. Departments table
cur.execute("""
CREATE TABLE Departments (
    DepartmentID INTEGER PRIMARY KEY AUTOINCREMENT,
    DepartmentName TEXT UNIQUE
);
""")

# 2. Jobs table
cur.execute("""
CREATE TABLE Jobs (
    JobID INTEGER PRIMARY KEY AUTOINCREMENT,
    JobRole TEXT,
    JobLevel INTEGER
);
""")

# 3. EducationFields table
cur.execute("""
CREATE TABLE EducationFields (
    EducationFieldID INTEGER PRIMARY KEY AUTOINCREMENT,
    FieldName TEXT UNIQUE
);
""")

# 4. Employees table 
cur.execute("""
CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY AUTOINCREMENT,
    Age INTEGER,
    Gender TEXT,
    MaritalStatus TEXT,
    DepartmentID INTEGER,
    JobID INTEGER,
    EducationFieldID INTEGER,

    -- Attrition & Travel
    Attrition TEXT,
    BusinessTravel TEXT,
    DistanceFromHome INTEGER,
    OverTime TEXT,
    TrainingTimesLastYear INTEGER,

    -- WorkHistory
    NumCompaniesWorked INTEGER,
    TotalWorkingYears INTEGER,
    YearsAtCompany INTEGER,
    YearsInCurrentRole INTEGER,
    YearsSinceLastPromotion INTEGER,
    YearsWithCurrManager INTEGER,

    -- Satisfaction
    EnvironmentSatisfaction INTEGER,
    JobSatisfaction INTEGER,
    RelationshipSatisfaction INTEGER,
    WorkLifeBalance INTEGER,
    JobInvolvement INTEGER,
    PerformanceRating INTEGER,

    -- Compensation
    DailyRate INTEGER,
    HourlyRate INTEGER,
    MonthlyIncome INTEGER,
    PercentSalaryHike INTEGER,
    StockOptionLevel INTEGER,

    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID),
    FOREIGN KEY (JobID) REFERENCES Jobs(JobID),
    FOREIGN KEY (EducationFieldID) REFERENCES EducationFields(EducationFieldID)
);
""")

# Commit changes and close
conn.commit()
conn.close()

In [ ]:
# Load your CSV file
df = pd.read_csv("data/cleanData.csv")

# Connect to SQLite DB
conn = sqlite3.connect("employee_database.db")
cur = conn.cursor()

# --- Insert unique Departments ---
departments = df["Department"].dropna().unique()
for dept in departments:
    cur.execute("INSERT OR IGNORE INTO Departments (DepartmentName) VALUES (?)", (dept,))

# --- Insert unique Jobs (JobRole + JobLevel as a pair) ---
jobs = df[["JobRole", "JobLevel"]].drop_duplicates()
for _, row in jobs.iterrows():
    cur.execute("INSERT OR IGNORE INTO Jobs (JobRole, JobLevel) VALUES (?, ?)", 
                (row["JobRole"], int(row["JobLevel"])))

# --- Insert unique EducationFields ---
edu_fields = df["EducationField"].dropna().unique()
for field in edu_fields:
    cur.execute("INSERT OR IGNORE INTO EducationFields (FieldName) VALUES (?)", (field,))

conn.commit()

# --- Create mapping dictionaries for lookups ---
cur.execute("SELECT DepartmentID, DepartmentName FROM Departments")
dept_map = {name: id for id, name in cur.fetchall()}

cur.execute("SELECT JobID, JobRole, JobLevel FROM Jobs")
job_map = {(role, level): id for id, role, level in cur.fetchall()}

cur.execute("SELECT EducationFieldID, FieldName FROM EducationFields")
edu_map = {name: id for id, name in cur.fetchall()}

# --- Insert Employees ---
for _, row in df.iterrows():
    cur.execute("""
        INSERT INTO Employees (
            Age, Gender, MaritalStatus, DepartmentID, JobID, EducationFieldID,
            Attrition, BusinessTravel, DistanceFromHome, OverTime, TrainingTimesLastYear,
            NumCompaniesWorked, TotalWorkingYears, YearsAtCompany, YearsInCurrentRole,
            YearsSinceLastPromotion, YearsWithCurrManager,
            EnvironmentSatisfaction, JobSatisfaction, RelationshipSatisfaction,
            WorkLifeBalance, JobInvolvement, PerformanceRating,
            DailyRate, HourlyRate, MonthlyIncome, PercentSalaryHike, StockOptionLevel
        ) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
    """, (
        int(row["Age"]) if not pd.isna(row["Age"]) else None,
        row["Gender"],
        row["MaritalStatus"],
        dept_map.get(row["Department"]),
        job_map.get((row["JobRole"], int(row["JobLevel"]))),
        edu_map.get(row["EducationField"]),
        row["Attrition"],
        row["BusinessTravel"],
        int(row["DistanceFromHome"]) if not pd.isna(row["DistanceFromHome"]) else None,
        row["OverTime"],
        int(row["TrainingTimesLastYear"]) if not pd.isna(row["TrainingTimesLastYear"]) else None,
        int(row["NumCompaniesWorked"]) if not pd.isna(row["NumCompaniesWorked"]) else None,
        int(row["TotalWorkingYears"]) if not pd.isna(row["TotalWorkingYears"]) else None,
        int(row["YearsAtCompany"]) if not pd.isna(row["YearsAtCompany"]) else None,
        int(row["YearsInCurrentRole"]) if not pd.isna(row["YearsInCurrentRole"]) else None,
        int(row["YearsSinceLastPromotion"]) if not pd.isna(row["YearsSinceLastPromotion"]) else None,
        int(row["YearsWithCurrManager"]) if not pd.isna(row["YearsWithCurrManager"]) else None,
        int(row["EnvironmentSatisfaction"]) if not pd.isna(row["EnvironmentSatisfaction"]) else None,
        int(row["JobSatisfaction"]) if not pd.isna(row["JobSatisfaction"]) else None,
        int(row["RelationshipSatisfaction"]) if not pd.isna(row["RelationshipSatisfaction"]) else None,
        int(row["WorkLifeBalance"]) if not pd.isna(row["WorkLifeBalance"]) else None,
        int(row["JobInvolvement"]) if not pd.isna(row["JobInvolvement"]) else None,
        int(row["PerformanceRating"]) if not pd.isna(row["PerformanceRating"]) else None,
        int(row["DailyRate"]) if not pd.isna(row["DailyRate"]) else None,
        int(row["HourlyRate"]) if not pd.isna(row["HourlyRate"]) else None,
        int(row["MonthlyIncome"]) if not pd.isna(row["MonthlyIncome"]) else None,
        int(row["PercentSalaryHike"]) if not pd.isna(row["PercentSalaryHike"]) else None,
        int(row["StockOptionLevel"]) if not pd.isna(row["StockOptionLevel"]) else None
    ))

conn.commit()
conn.close()

In [20]:
# List all tables in the SQLite database
conn = sqlite3.connect('db/employee_database.db')
tables_df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in the database:")
print(tables_df)

# Show the first 5 rows of each table
for table_name in tables_df['name']:
    print(f"\nFirst 5 rows of table '{table_name}':")
    display(pd.read_sql_query(f"SELECT * FROM {table_name} LIMIT 5;", conn))

conn.close()

Tables in the database:
              name
0  sqlite_sequence
1      Departments
2             Jobs
3  EducationFields
4        Employees

First 5 rows of table 'sqlite_sequence':

              name   seq
0      Departments     6
1             Jobs    52
2  EducationFields    12
3        Employees  1470

First 5 rows of table 'Departments':

   DepartmentID          DepartmentName
0             1                   Sales
1             2  Research & Development
2             3         Human Resources

First 5 rows of table 'Jobs':

   JobID                 JobRole  JobLevel
0      1         Sales Executive         2
1      2      Research Scientist         2
2      3   Laboratory Technician         1
3      4      Research Scientist         1
4      5  Manufacturing Director         3

First 5 rows of table 'EducationFields':

   EducationFieldID         FieldName
0                 1     Life Sciences
1                 2             Other
2                 3           Medical
3                 4         Marketing
4                 5  Technical Degree

First 5 rows of table 'Employees':

,EmployeeID,Age,Gender,MaritalStatus,DepartmentID,JobID,EducationFieldID,Attrition,BusinessTravel,DistanceFromHome,...,JobSatisfaction,RelationshipSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,DailyRate,HourlyRate,MonthlyIncome,PercentSalaryHike,StockOptionLevel
0,1,41,Female,Single,1,27,1,Yes,Travel_Rarely,1,...,4,1,1,3,3,1102,94,5993,11,0
1,2,49,Male,Married,2,28,1,No,Travel_Frequently,8,...,2,4,3,2,4,279,61,5130,23,1
2,3,37,Male,Single,2,29,2,Yes,Travel_Rarely,2,...,3,2,3,2,3,1373,92,2090,15,0
3,4,33,Female,Married,2,30,1,No,Travel_Frequently,3,...,3,3,3,3,3,1392,56,2909,11,0
4,5,27,Male,Married,2,29,3,No,Travel_Rarely,2,...,2,4,3,3,3,591,40,3468,12,1

How many total employees are there?

What is the employee count for each department?

What is the average monthly income by job role?

Who are the top 5 employees by performance rating?

Which department has the highest average performance rating?